{% extends 'grades/base.html' %}

{% block title %}Subjects{% endblock %}

{% block content %}
<h1>Subjects</h1>
<a href="{% url 'subject_create' %}">
    <button>Add Subject</button>
</a>
<ul>
    {% for subject in subjects %}
    <li>
        {{ subject.name }}
        <div>
            <a href="{% url 'subject_update' subject.pk %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'subject_delete' subject.pk %}">
                <button>Delete</button>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
